{% extends 'base.html' %}
{% block content %}
  <a href="{% url 'index' %}">Назад к списку</a>
  <h1>Новое изображение</h1>
  <form>
    <div class="form-group">
      <label for="form_url">Ссылка</label>
      <input type="url" class="form-control" id="form_url">
    </div>
    <div class="form-group">
      <label for="form_file">Файл</label>
      <input type="file" class="form-control-file" id="form_file">
    </div>
    <button type="button" onclick="onSubmit()" class="btn btn-light">Отправить</button>
  </form>
  {% csrf_token %}
  <script type="text/javascript">
      function onSubmit() {
          const csrftoken = getCookie('csrftoken');
          let imgUrl = document.getElementById('form_url').value
          let imgFile = document.getElementById('form_file')
          let myHeaders = new Headers();
          myHeaders.append("X-CSRFToken", csrftoken);

          console.log(imgFile)

          let formdata = new FormData();
          {#formdata.append("form_url", imgUrl);#}
          formdata.append("form_file", imgFile.files[0]);
          let requestOptions = {
              method: 'POST',
              headers: myHeaders,
              body: formdata,
              redirect: 'follow'
          };

          fetch("/images/", requestOptions)
              .then(response => response.text())
              .then(result => console.log(result))
              .catch(error => console.log('error', error));

      }
  </script>
{% endblock %}
